* {
  box-sizing: border-box;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.column {
	margin-right: 100px;

}


#background {
	background-image: url("./img/cooking.png");
	color: #FFFFFF;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: serif;
}


#steps {
	color: #FFFFFF;
}


body {
	 margin-left: 200px;
	 margin-right: 200px;
	 margin-bottom: 100px;
	 margin-top: 70px;
	 background-color: #CAC065;
	 font-family: fantasy;
}


h1 {
     font-size: 50px;
     text-align: center;
     color: #1B2225;
 
}


h3 {
	 font-size: 40px;
	 color: #1B2225;
}

img {
	 width: 400px;
	 border-radius: 10px;
	 border: 10px solid whitesmoke;
}




ul {
	font-size: 30px;
	color: #1B2225;
}


ol {
	font-size: 30px;
}

a {
	font-size: 30px;
	color: #1B2225;
}






